# Dependencies
node_modules/
jdk/

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/
*.msi

# Logs
logs/
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
